html{
    height: 100%;
    background: radial-gradient(circle, #e82611, #ccc);
}

#container{
    height: 600px;
    width: 750px;
    background-color: #dbb7d6;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 10px #8b3681;/*horizontal vertical blur spread(optional) color*/
    position: relative;
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 10px;
    position: absolute;
    left: 690px;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px #9e9b04;
}

#fruitContainer{
    width: 650px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 60px auto;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px 0px #2bb9a9;
    position: relative;
    overflow: hidden;
}

#hint{
    width: 200px;
    height: 40px;
    background-color: #b3ef7a;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 0px 3px 10px 0px #2bb9a9;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

#start{
    width: 110px;
    height: 35px;
    background-color: aqua;
    margin: 30px auto;
    text-align: center;
    line-height: 35px;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px #0dc3a2;
    cursor: pointer;
    color: #145643;
}

#start:hover{
    background-color: darkgray;
    box-shadow: 0px 3px 0px 0px #414133;
    color: white;
}

#start:active{
    box-shadow: 0px 0px 0px 0px #414133;
    top: 3px;
}

#reset{
    width: 110px;
    height: 35px;
    background-color: red;
    top: 390px;
    left: 265px;
    text-align: center;
    line-height: 35px;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px #6b0e0e;
    cursor: pointer;
    color: white;
    position: absolute;
    visibility: hidden;
}

#reset:hover{
    background-color: darkgray;
    box-shadow: 0px 3px 0px 0px #414133;
    color: white;
}

#reset:active{
    box-shadow: 0px 0px 0px 0px #414133;
    top: 393px;
}

#trialsLeft{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 8px 8px;
    width: auto;
    position: absolute;
    top: 20px;
    left: 70px;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px #9e9b04;
    text-align: center;
    line-height: 15px;
    color: dimgrey;
    display: none;
}

#gameover{
    height: 200px;
    width: 500px;
    text-align: center;
    background: linear-gradient(#1be863, #23c197);
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}


.life{
    margin: 0px 5px;
}

.fruits{
    position: absolute;
    width: 70px;
    height: 75px;
    display: none;
}