{% extends 'base.html' %}
{% block title %}Blood Bank | Become donor{% endblock title %}
{% block css %}
{% load static %}
<link rel='stylesheet' href="{% static 'blood_bank_management_system/style.css' %}">
{% endblock css %}

{% block body %}
<header>
    {% include 'blood_bank_management_system/include/nav.html' %}
</header>
<section id="signup">
    <h1>Donor Registration</h1>
    <div class="signup-card">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}<p>
                <p>{{ field.errors }}</p>
                <p>{{ field }}</p>
            {% endfor %}
            <input type="submit" value="Register">
        </form>
    </div>
</section>
{% endblock body%}