* {
    margin: 0;
}

#container {
    display: flex;
    gap: 1rem;
}
#container #drawing-board {
    flex: 2;
    position: relative;
    margin: 0;
}
#container #code-editor {
    flex: 1;
    height: 72vh;
}
#code-editor {
    background: repeating-linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
#code-editor iframe {
    height: 71vh;
    width: 100%;
}

#drawing-board img {
    width: 100%;
    height: 96vh;
}
#canvas {
    position: absolute;
    left: 1.7vw;
    top: 2.8vh;
    /* left: 300px;
    top: 30px; */
    
    cursor: crosshair;
}

#inputs-container {
    position:absolute;
    top: 72vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#input-container {
    margin-left: 10px;
}
#eraser-container {
    margin-right: 10px;
}
#pencil {
    margin-left: 2vw;
    /* margin-bottom: 10px; */
    background: repeating-linear-gradient(to right, #333, rgb(219, 49, 49), rgb(161, 66, 66), #333);
    border-radius: 2px;
}
#pen-size {
    width: 100px;
    margin-left: 5px;
}

#eraser-slider {
    margin-top: 10px;
    width: 100px;
}

#circle {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 10px auto;
    background-color: black;
}
#eraser-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px auto;
    border: 2px dashed rgb(99, 90, 80);
}

#instruction {
    position: absolute;
    left: 50px;
    top: 3vh;
    height: 7vh;
    width: 200px;
    background: repeating-linear-gradient(to right, #333, rgb(219, 49, 49), rgb(161, 66, 66), #333);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: none;
}

.drawing-mode, .erase-mode, .clear-mode {
    position: absolute;
    left: 29vw;
    top: 69vh;
    width: auto;
    background: repeating-linear-gradient(to right, #333, rgb(219, 49, 49), rgb(161, 66, 66), #333);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: none;
}

.drawing-mode p, .erase-mode p {
    margin: 0px auto;
    padding: 10px;
}

#instruction p {
    margin: 3px;
    font-size: 14px;
}

button {
    padding: 10px;
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(219, 49, 49), rgb(161, 66, 66), rgba(0, 0, 0, 0.8));
    color: #fff;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.9), rgb(112, 21, 21), rgb(112, 28, 28), rgba(0, 0, 0, 0.9));
}

button a {
    text-decoration: none;
    color: #fff;
}

.tutorial {
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(219, 49, 49), rgb(161, 66, 66), rgba(0, 0, 0, 0.8));
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;
    color: #fff;
    width: 400px;
    margin: 10px auto;
    text-align: justify;
}

.tutorial h4 {
    border-bottom: 1px solid #fff;
    margin: 10px;
}

.tutorial p {
    margin: 0;
}